{% extends "/base/base_index.html" %}
{% block content %}

        <div class="container">

            <a class="navbar-brand" href="#">
                Pagina Inicial
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introdução</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Projeto</a>
                    </li>

                    <li class="nav-item">
                        <a href="#testimonials" class="nav-link smoothScroll">Autores</a>
                    </li>

                  
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="login.html" class="custom-btn btn" >Login</a>
                </div>
            </div>

        </div>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="gato">
                      <img src="../static/img/cat.jpg">
                  </div>

                   <div class="rol">
                        <div class="hero-text">
                        
                            <h1>Pet-Feeder Online</h1>
                            <p>Alimente seu Pet a Distância</p>
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>

    

    <section class="about section-padding" id="about">
        <div class="container">
          <hr>
            <div class="row">

                <div class="col6">
                    <h3>Alimentador de Pet IOT</h3>

                    <p>Ola! nosso projeto visa ajudar as pessoas que não possuem muito tempo para cuidar de seus preciosos pets</p>
                    <p>Com o Alimentador de Pet IOT eles poderão alimentar seus Pets remotamente assim poupando tempo e fazendo com que tenham a segurança que seus pets estão alimentados</p>

                </div>

                <div class="imgrol">
                    <img src="../static/img/pet.jpg" class="about-image img-fluid" >
                </div>

            </div>
        </div>
    </section>


    <!-- TESTIMONIAL -->
     <section class="testimonials section-padding" id="testimonials">
          <div class="container">
               <div class="row">

                    <div class="col-12">
                        <h3 class="mb-5 text-center">Autores</h3>

                        <div class="owl-carousel owl-theme" id="testimonials-carousel">
                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="../static/img/testimonials/ce.jpg" class="imgce">
                                    </div>

                                    <div class="testimonials-info">
                                        <p>César</p>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="../static/img/testimonials/pa.jpg" class="imgce" >
                                    </div>

                                    <div class="testimonials-info">
                                        <p>Paula</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-thumb d-flex">
                                    <div class="testimonials-image">
                                        <img src="../static/img/testimonials/ale.jpg" class="imgce">
                                    </div>

                                    <div class="testimonials-info">
                                        <p>Alexandre Faisst</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

               </div>
          </div>
     </section>


     <!-- FAQ -->
     <section class="faq section-padding">
        
        <div class="container">
            
            <div class="row">

                <div class="col-lg-12 col-12">

                  

                </div>

           	 </div><!-- col -->
        	</div><!-- row -->
        </div><!-- container -->
    </section>


     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-12">
            <form action="#" method="get" class="contact-form webform"  role="form">
                
                <div class="form-group d-flex flex-column-reverse">
                    <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Your Name">

                    <label for="cf-name" class="webform-label">Full Name</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Your Email">

                    <label for="cf-email" class="webform-label">Your Email</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <textarea class="form-control" rows="5" name="cf-message" id="cf-message" placeholder="Your Message"></textarea>

                    <label for="cf-message" class="webform-label">Message</label>
                </div>

                <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
            </form>
          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Say hello</h3>

                <p class="mb-1">010-020-0340</p>

                <p>
                    <a href="#">
                        petfeeder@company.co
                    <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://fb.com/tooplate" rel="noopener" class="fab fa-facebook"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-twitter"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-instagram"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-linkedin"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-youtube"></a></li>
                </ul>
                </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/custom.js"></script>
{% endblock %}
