<html>
    <head>
        <title>Acionar Sensores</title>
        <link rel="stylesheet" href="../../static/css/acionar.css">
        <script rel="stylesheet" href="../js/acionar.js"></script>
    </head>
    <body>
        <div class="te">
            <h1>Seu dispositivo está:</h1>
        <div>
        <div class="ti">
            <img class="img1" src="../../static/img/on.jpeg">
            <img class="img1"src="../../static/img/off.jpeg">
        <div>
        <button onclick>Ligar</button> 
    </body>
</htmml>